package templates

import (
	"github.com/moroz/omise/config"
)

templ Footer() {
	<footer>
		<p>&copy; 2023 by Karol Moroz.</p>
	</footer>
}

templ Header() {
	<header>
		<h1>Omise</h1>
	</header>
}

templ Layout(title string) {
	<html>
		<head>
			<title>{ title }</title>
			if !config.ProductionMode {
				<script type="module" src="http://localhost:5173/src/main.ts"></script>
			}
		</head>
		<body>
			@Header()
			<main>
				{ children... }
			</main>
			@Footer()
		</body>
	</html>
}
